*,
a,
li,
div {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: var(--black);
    font-size: 18px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.main_container { 
    padding: 0 90px;
    display: flex;
    flex-direction: column;
    height: 100%;
    @media screen and (max-width: 1280px) { 
        padding: 0;
    }
}

.container {
    padding: 0;
    @media screen and (max-width: 1280px) {
        padding: 0 70px;
    }
    @media screen and (max-width: 1000px) {
        padding: 0 16px;
    }
}

.App {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 1fr;
    min-height: 100vh;
    @media screen and (max-width: 1280px) {
        display: flex;
        flex-direction: column;
    }
}

input[type='text'],
input[type='number'] {
    border: none;
    background: none;
    box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

button {
    border: none;
    box-shadow: none;
    background: none;
    cursor: pointer;
}

#root {
    min-height: 100vh;
}



:root {
  --black: #23272b;
  --grey60: #8a8f99;
  --grey80: #c2c5cc;
  --grey95: #e9ecf2;
  --grey99: #f6f8fc;
  --green: #3fe7be;
  --dark-green: #238069;
  --pink: #ff577e;
  --dark-pink: #8c3045;
  --white: #fff;
}