*,
a,
li,
div {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: #000;
    font-size: 18px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    padding: 0 90px;
}

input[type='text'],
input[type='number'] {
    border: none;
    background: none;
    box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
